*.classpath
*.project
*.class
.settings/
*.log
target/
*.orig
*.sh
*.iml
*.bat
*.bak
*.7z
*.tmp
.svn/
bin/
tools/
uml/
doc/
nbactions.xml
/nbactions-sonar.xml
*.externalToolBuilders
.metadata/
libraries/
Servers/
nsw_scripts/
build_1.6.bat
pom_without_formatter.txt
.gitignore
dev/applications/nsw-app/src/main/application/META-INF/weblogic-application.xml
dev/modules/nsw-crg-console/src/main/webapp/WEB-INF/config/security-config_bck.xml
.gitignore
